<!DOCTYPE html>
<html>

    <head>
      <title></title>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    </head>

    <body>

      <div class='container'>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <ul class="navbar-nav">
            <li><a class="nav-link" href="{% url 'index' %}">Django</a></li>
            <li><a class="nav-link" href="{% url 'admin:index' %}">Index</a></li>
            <li><a class="nav-link" href="{% url 'basicApp:register' %}">Register</a></li>

            {% if user.is_authenticated %}
              <li><a class="nav-link" href="{% url 'logout' %}">Logout</a></li>
            {% else %}
              <li><a class="nav-link" href="{% url 'basicApp:user_login' %}">Login</a></li>
            {% endif %}

          </ul>
        </nav>
      </div>




      <div class='jumbotron'>
        {% block body_block %}
        {% endblock %}
      </div>


    </body>

</html>
